<% if user_signed_in? %>
<p class="text-warning">★ your goat</p><br>
<% else %>
<br>
<% end %>

  <%= form_tag listings_path, :method => 'get' do %>
   <%= select_tag(:skill_id, options_for_select(Skill.order(:title).pluck(:title, :id) ,:selected =>params[:option]), onchange: 'this.form.submit();', class: "form-control custom-select", prompt: "All goats are Garden Gurus, but some of our goats have extra special skills! Click here to filter by area of expertise.", include_blank: "Show All")%>
  <% end %>
 


<div class="group">

  <% @listings.each do |listing| %>
    


<div class="w3card">
<div class="piccy">
  <%= link_to listing_path( listing ) do %>
    <%=image_tag(listing.image, height: 200, width: 280) %><% end %></div>
  <div class="container">
    <h4><b><%= link_to listing_path( listing ) do %>
        <%= listing.title %><% end %></b></h4>
        <%= listing.breed %> Goat<br>
         $<%= listing.price %> per day<br>
   <small>Special Skill: <%= listing.skill.title %></small>
      <% if user_signed_in? %>
      <% if current_user.id == listing.user_id %>
      <p class="text-warning">★</p>
      <% end %>         
      <% end %> 



  </div>
</div>




  <% end %>

</div>
