

<div class="group">

  <% @listings.each do |listing| %>
    


<div class="w3card">
<div class="piccy">
  <%= link_to listing_path( listing ) do %>
    <%=image_tag(listing.image, height: 200, width: 300) %><% end %></div>
  <div class="container">
    <h4><b><%= link_to listing_path( listing ) do %>
        <%= listing.title %><% end %></b></h4>
        <p><%= listing.breed %> Goat</p>
   <p><small><%= listing.skill.title %></small></p>
  </div>
</div>




  <% end %>

</div>
