
<div class="col d-flex justify-content-center">

  <% @listings.each do |listing| %>
    
<div class="card-deck">
  <div class="card text-center" style="max-width: 18rem;">

<%= link_to listing_path( listing ) do %>
    <%=image_tag(listing.image, height: 200, width: 200, class:"card-img-top") %><% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to listing_path( listing ) do %>
        <%= listing.title %><% end %></h5>
      <p class="card-text"><%= listing.breed %> Goat</p>
      <p class="card-text"><small class="text-muted"><%= listing.skill.title %></small></p>
    </div>
  </div>

  <% end %>

</div>
