<%= form_tag listings_path, :method => 'get' do %>
   <%= select_tag(:skill_id, options_for_select(Skill.order(:title).pluck(:title, :id) ,:selected =>params[:option]), onchange: 'this.form.submit();', class: "form-control custom-select" , include_blank: true  )%>
 <% end %>
 

<div class="group">

  <% @listings.each do |listing| %>
    


<div class="w3card">
<div class="piccy">
  <%= link_to listing_path( listing ) do %>
    <%=image_tag(listing.image, height: 200, width: 300) %><% end %></div>
  <div class="container">
    <h4><b><%= link_to listing_path( listing ) do %>
        <%= listing.title %><% end %></b></h4>
        <%= listing.breed %> Goat<br>
         $<%= listing.price %> per day<br>
   <small><%= listing.skill.title %></small>
  </div>
</div>




  <% end %>

</div>
