<div class="bg4">
</div>

<p id="notice"><%= notice %></p>

<div class="wrapper">

  <div class="listings">


  <% @listings.each do |listing| %>
    
    <div class="card">

      <%=image_tag(listing.image, height: 200, width: 200) %>
      
      <div class="info-center">

            <div class="card-text"><%=link_to listing.title.to_s.split("_").join(" ") , listing_path(listing)%>

                <div class="breed"><br/>
                  <p><%= listing.breed %></p>
                </div>

                <div class="skill"><br/>
                  <p><%= listing.skill.title %></p>
                </div>




            </div>
      
      </div>
    
    </div>
  <% end %>


  </div>

</div>

</div>
