








<%#= link_to "Edit", edit_listing_path( @listing ) %>
<%#= link_to "Back", listings_path %>


<div class="card mb-3" style="max-width: 100vw;">
  <div class="row no-gutters">
    <div class="col-md-4">
        <%= image_tag @listing.image, class:"card-img" %>

</div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title"><h1><%= @listing.title %></h1></h5>
            <p class="card-text">
            
            <p>
            <strong>Description:</strong>
            <%= @listing.description %></p>

            <p>
            <strong>Price:</strong>
            <%= number_to_currency(@listing.price/100.0) %> per day</p>

            <p>
            <strong>Gender:</strong>
            <%= @listing.gender %></p>

            <p>
            <strong>Breed:</strong>
            <%= @listing.breed %>
            </p>

            <p>
            <strong>Drop off available?</strong>
            <%= @listing.drop_off %></p>

            <p>
            <strong>Notes:</strong>
            <%= @listing.notes %></p>

            <p>
            <strong>Special Skill:</strong>
            <%= @listing.skill.title %></p>

            <p>
            <strong>Owned By:</strong>
            <%= @listing.user.email %></p></small></p>




            <button type="button" class="btn btn-primary btn-lg" data-stripe="payment">
                Pay Deposit of <%= number_to_currency(@listing.price/100.0) %>
            </button>

                <script src="https://js.stripe.com/v3/"></script>

                <script>
                document
                    .querySelector("[data-stripe='payment']")
                    .addEventListener("click", () => {
                    const stripe = Stripe(
                        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
                    );

                    stripe.redirectToCheckout({
                        sessionId: "<%= @session_id %>"
                    });
                    });
            </script>

    </div>
    </div>

        <% if current_user.id == @listing.user_id %>
            <%= link_to "Edit |", edit_listing_path( @listing ) %>
            <%= link_to "| Delete", listing_path( @listing ) , method: :delete, data: {confirm: 'Are you super sure?'} %>
        <% end %>





