<h1><%= @listing.title %></h1>

<p>
<%= image_tag @listing.image if @listing.image.attached?%>
</p>

<p>
<strong>Description:</strong>
<%= @listing.description %></p>

<p>
<strong>Price:</strong>
<%= number_to_currency(@listing.price/100.0) %></p>



<p>
<strong>Gender:</strong>
<%= @listing.gender %></p>

<p>
<strong>Breed:</strong>
<%= @listing.breed %>
</p>

<p>
<strong>Drop off available?</strong>
<%= @listing.drop_off %></p>

<p>
<strong>Notes:</strong>
<%= @listing.notes %></p>

<p>
<strong>Special Skill:</strong>
<%= @listing.skill.title %></p>





<% if current_user.id == @listing.user_id %>
        <td><%= link_to "Edit", edit_listing_path( @listing ) %></td>
        <td><%= link_to "Delete", listing_path( @listing ) , method: :delete, data: {confirm: 'Are you super sure?'} %></td>
        <td><%= link_to "Back", listings_path %></td>
    <% else %>
        <td>
        <td>
    <% end %>


<%#= link_to "Edit", edit_listing_path( @listing ) %>
<%#= link_to "Back", listings_path %>