
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
<br><br>
<h5>All goats on the books are Garden Gurus, but some of our goats have extra special skills! <br>Pick from one of the following skills to see a list of goat experts in their field.</h5>

<div class="card-group">
  <div class="card">
  <%= link_to listings_path do %>
    <img src="/assets/yoga.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title"><%= link_to "Yoga Master", listings_path %></h5>
    </div>
    <% end %>
    </div>
  <div class="card">
  <%= link_to listings_path do %>
    <img src="/assets/milking.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title"><%= link_to "Dairy Queen", listings_path %></h5>
    </div>
    <% end %>
</div>

  <div class="card">
  <%= link_to listings_path do %>
    <img src="/assets/love.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title"><%= link_to "Lover Goat", listings_path %></h5>
    </div>
    <% end %>
      </div>

  <div class="card">
  <%= link_to listings_path do %>
    <img src="/assets/companionship.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title"><%= link_to "Cuddly Companion", listings_path %></h5>
    </div>
    <% end %>
  </div>
</div>

    <%= yield %>
  </body>
</html>



