<%= form_with(model: deposit, local: true) do |form| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>
      <ul>
      <% deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Hi <%=current_user.email %>, please fill the form below to continue with your purchase. </p>

  <div class="field">
    <%=hidden_field_tag :user, current_user %>
  </div>

  <div class="field">
    <%= form.label :shipping_address %>
    <%= form.text_field :shipping_address %>
  </div>

  <div class="field">
    <%=hidden_field_tag :listing_id, params[:listing_id] %>
  </div>

  <div class="field">
    <%=hidden_field_tag :listing_title, Listing.find(params[:listing_id]).title %>
  </div>

  <div class="field">
    <%=hidden_field_tag :listing_price, Listing.find(params[:listing_id]).price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
