<%= form_with(model: deposit, local: true) do |form| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>
      <ul>
      <% deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Listing Title:</strong>
    <%= @listing.title %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= @listing.breed %> Goat
  </p>

  <p>
    <strong>Price per day:</strong>
    $<%= @listing.price %>
  </p>

  <div class="field">
    <%=hidden_field_tag :user_id, current_user.id %>
  </div>

  <div class="field">
    <strong><%= label_tag :address %>:</strong>
    <input id="autocomplete_search" name="address" form-tag=:address type="text" class="form-control" placeholder="Search" />
      <input type="hidden" name="lat">
      <input type="hidden" name="long">
  </div>




  <p><strong>Confirmation Email Address:</strong> <%=current_user.email %></p>

  <div class="field">
    <%=hidden_field_tag :listing_id, params[:listing_id] %>
  </div>



  <button type="submit" value="Submit" action="deposits/confirmation" method="post" class="btn btn-info btn-sm">Review details</button>





  <small><%= link_to "Back to #{@listing.title} ", listing_path(@listing) %></small>

<% end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key%>&amp;libraries=places"></script>
         
<script>
  google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
      var input = document.getElementById('autocomplete_search');
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function () {
      var place = autocomplete.getPlace();
      // place variable will have all the information you are looking for.
      $('#lat').val(place.geometry['location'].lat());
      $('#long').val(place.geometry['location'].lng());
    });
  }
</script>

