<%= form_with(model: deposit, local: true) do |form| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>
      <ul>
      <% deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <strong>Listing Title:</strong>
  <%= @listing.title %>
  </p>

    <p>
  <strong>Breed:</strong>
  <%= @listing.breed %> Goat
  </p>

  <p>
    <strong>Price per day:</strong>
    $<%= @listing.price %>
  </p>

  <div class="field">
    <%=hidden_field_tag :user, current_user %>
  </div>

  <div class="field">
    <strong><%= form.label :address %>:</strong>
    <%= form.text_field :address %>
  </div>

  <p><strong>Confirmation Email Address:</strong> <%=current_user.email %></p>

  <div class="field">
    <%=hidden_field_tag :listing_id, params[:listing_id] %>
  </div>
<% end %>

    <button type="button" class="btn btn-info btn-sm" data-stripe="payment">
        Pay Deposit of $<%= @listing.price %>
    </button>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
    document
        .querySelector("[data-stripe='payment']")
        .addEventListener("click", () => {
        const stripe = Stripe(
            "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
        );

        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
        });
    </script>


