<p id="notice"><%= notice %></p>


<h2>Goat Rental History</h2>
<div class="container">


  <table class="table table-striped table-responsive d-xl-table">
    <thead>
      <tr>
        <th colspan="7" class="border-top-0"></th>
      </tr>
      <tr>
        <th style="min-width: 200px;">Order Number</th>
        <th style="min-width: 110px;">Listing Title</th>
        <th style="min-width: 130px;">Amount Paid</th>
        <th style="min-width: 130px;">Date Paid</th>
        <th style="min-width: 130px;">Delivery Address</th>
        <th style="min-width: 110px;">Owner Email</th>
      </tr>
    </thead>


  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.stripe_charge_id %></td>
        <td><%= deposit.listing.title %></td>
        <td>$<%= deposit.amount %></td>
        <td><%= deposit.created_at %></td>
        <td><%= deposit.address %></td>
        <td><%= deposit.listing.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


