<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @deposit.user_email %>
</p>

<p>
  <strong>address:</strong>
  <%= @deposit.address %>
</p>

<p>
  <strong>listing:</strong>
  <%#= @deposit.listing %>
</p>

<p>
  <strong>Listing Title:</strong>
  <%= @deposit.listing_title %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @deposit.listing_price %>
</p>



<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>



            <button type="button" class="btn btn-primary btn-lg" data-stripe="payment">
                Pay Deposit of <%= number_to_currency(@listing.price/100.0) %>
            </button>

                <script src="https://js.stripe.com/v3/"></script>

                <script>
                document
                    .querySelector("[data-stripe='payment']")
                    .addEventListener("click", () => {
                    const stripe = Stripe(
                        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
                    );

                    stripe.redirectToCheckout({
                        sessionId: "<%= @session_id %>"
                    });
                    });
            </script>


</div>
</div>
