Thanks <%= current_user.email %>,<br>
You've successfully paid <%= number_to_currency(@listing.price) %> to <%= @listing.user.email %> <br> 

Please arrange your hire of <%= @listing.title %> by emailing <%= @listing.user.email %> <br>


<p><%= link_to "Go to listings", listings_path %></p>
<p><%= link_to "See your order history", deposits_path %></p>
