


<p>Thanks <strong><%= current_user.email %>,</strong><br></p>
<p>You've successfully paid <strong>$<%= @deposit.listing.price %>.<br></strong></p> 

<p>Please arrange your hire of <%= @deposit.listing.title %> by emailing <strong><%= @deposit.listing.user.email %></strong><br></p>

<p>Your address on file for delivery is <%= @deposit.address %>.<br></p>


<p>Your confirmation number is <strong><%= @deposit.created_at.to_i %></strong><br><br><br></p>




<strong><p><%= link_to "See your Rental History", deposits_path %></strong></p>

<%= link_to "Print This Page", '#', class: "btn btn-info btn-sm", 
            onclick: 'window.print();return false;' %>
