<!DOCTYPE html>
<html>
  <head>
    <title>GOATS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="logo"><strong><%= link_to "GOATS.", root_path %></strong><img src="/assets/ikon2.png" height=45px, width=45px></div>
    <nav class="text-nav">
  <div>
    
    <%= link_to "Home | ", root_path %>
    <%= link_to "List A Goat | ", new_listing_path %>
    <%= link_to "See All Goats | ", listings_path %>
    <%= link_to "Rental History | ", deposits_path %>
    <%= link_to "About | ", about_path %>
    <% if user_signed_in? %>
       <%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Sign In', new_user_session_path) %>
    <% end %>
    </div>
    <% if user_signed_in? %>
    <small>Logged in as <%= current_user.email %></small>
    <% end %>
    

</nav>



    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>

<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</div>


  </body>
</html>
