<!DOCTYPE html>
<html>
  <head>
    <title>GOATS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="text-nav">
  <div>
    
    <button type="button" class="btn btn-light"><%= link_to "Home", root_path %></button>
    
    <%= link_to "List A Goat | ", new_listing_path, class: "blackglossyCSSButtonbutton" %>
    <%= link_to "See All Goats | ", listings_path, class: "blackglossyCSSButtonbutton" %>
    <%= link_to "Rental History | ", my_deposits_path, class: "blackglossyCSSButtonbutton" %>
    <%= link_to "About | ", about_path, class: "blackglossyCSSButtonbutton" %>
    <%= link_to "Contact | ", contact_path, class: "blackglossyCSSButtonbutton" %>
  </div>
  <div class="logout">
    <% if user_signed_in? %>
      Logged in as <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% end %>
  </div>
</nav>



    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
